<% content_for :title, "Изменить фильм" %>
<h1>Изменить фильм</h1>
<%= render "form", movie: @movie %>
<br>
<div>
  <%= link_to "Показать фильм", @movie %> |
  <%= link_to "Назад к фильмам", movies_path %>
</div>
